@font-face{
font-family:"Dom Diagonal Regular";
src:url("fonts/4189688c-6e0e-4d4c-9da7-a53a93c5d5b1.eot?#iefix");
src:url("fonts/4189688c-6e0e-4d4c-9da7-a53a93c5d5b1.eot?#iefix") format("eot"),url("fonts/784da693-e823-4c69-bc10-5b64c462522c.woff") format("woff"),url("fonts/dd73c395-4c00-4f4b-8d5c-fe04b34e2882.ttf") format("truetype"),url("fonts/62bea60d-4780-478f-a0ac-ffa02b7a76da.svg#62bea60d-4780-478f-a0ac-ffa02b7a76da") format("svg");
}
